doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    //meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/login.css')
    title Login
  body
    .login-container
      .login-info-container
        h1.title Inicio de Sesion
        form.inputs-container
          input.input(type='username' placeholder='Nombre usuario')
          input.input(type='password' placeholder='Contraseña')
          button.btn Iniciar sesion
      img.image-container(src='images/unnamed.png' alt='')