doctype html
html(lang='es')
  head
      meta(charset='UTF-8')
      title Franquicia
      link(rel='stylesheet' href='/stylesheets/verUnaFranquicia.css')

  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="enConstruccion"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaUsuarios"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️ 

.container2
  form(action="enConstruccion" method='POST')
    input(type='hidden' value= franquicia.idFranquicia   name="IdFranquicia") 
    h3 Informacion de Franquicia
    .row
      .col-half
        h4 Nombre Franquicia
          .input-group.input-group-icon
            input(type="text", value = franquicia.nombreFranquicia , placeholder="Nombre franquicia")
            .input-icon
              i.fa.fa-user
      .col-half
        h4 Status
        .input-group 
          select
            if franquicia.status == true
              option(class="opt" value = franquicia.status) Activo
              option(class="opt" value = flase) Inactivo
            else 
              option(class="opt" value = franquicia.status) Inactivo 
              option(class="opt" value = true) Activo
            
                  
    .row
      //h4 Términos y condiciones
      .input-group
        //input(type="checkbox", id="terms")
        //label(for="terms" style="font-size: 80%;") Acepto los términos y condiciones de Softlife, y confirmo que he leído las políticas de privacidad. 
        br
        input(type="submit", value="Guardar" class="brnGuardar")
        for(action="enConstruccion" method='POST')            
          input(type="submit", value="Nuevo" class ="brnNuevo")

